main {
  min-height:75vh;
  text-align: center;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;

  .container {
    margin: 0px 200px;
    width: 100%;
    display: flex;
    justify-content: space-between;
  }

  .search{
    padding: 100px;
    display: block;

  }
  form {
    background-color:rgb(0, 0, 0);
    padding: 10px;

    height: 5vh;
    width: 100%;
    border: 2px solid rgb(0, 0, 0);
    border-radius: 4px;
    display: flex;
    align-items: center;
    margin-bottom: 20px;
  }
   form input {
    background-color: transparent;
    color: white;
    border: none;
    outline: none;
    box-shadow: none;
    width: 100%;
    font-size: 16px;
    font-weight: 600;
    padding: 8px 10px;
  }
  .mainTable{
    margin: 20px 0;
  }
  .favTable {
    padding: 20px 0;

    justify-content: center;
    width: 48%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  table {
     width: 100%;
    td {
      width: 100%;
      padding: 8px;
      text-align: left;
    }
    img {
      border-radius: 100px;
      width: 100px;
      height: 80px;
    }
  }

  .icon {
    width: 20%;
    margin: 0 0 0 150px ;
    text-align: right;
    i {
      cursor: pointer;
    }
    i:hover {
      filter: brightness(90%);
    }
  }
  .imgCountry{
    width: 30%;
  }
  .info {
    display: flex;
    flex-direction: column;
  }
  
  h1 {
    margin: 20px 0;
  }

  h2 {
    width: 550px;
    font-size: xx-large;
    margin: 20px auto;
  }

  img {
    max-width: 600px;
    max-height: 600px;
    overflow: hidden;
  }

  button {
    margin: 20px 0 30px 0;
  }
  label {
    margin: 2% 0;
    font-size: x-large;
    display: flex;
    flex-direction: column;
    align-items: center;
    
    select {
      appearance: none;
      border: none;
      padding: 0.09em 0.5em;
      margin: 2% 0 0 ;
      width: 70%;
      font-family: inherit;
      font-size: inherit;
      cursor: inherit;
      line-height: inherit;
      outline: none;
      appearance: none;
      background-image: url("data:image/svg+xml;charset=US-ASCII,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%22292.4%22%20height%3D%22292.4%22%3E%3Cpath%20fill%3D%22%23131313%22%20d%3D%22M287%2069.4a17.6%2017.6%200%200%200-13-5.4H18.4c-5%200-9.3%201.8-12.9%205.4A17.6%2017.6%200%200%200%200%2082.2c0%205%201.8%209.3%205.4%2012.9l128%20127.9c3.6%203.6%207.8%205.4%2012.8%205.4s9.2-1.8%2012.8-5.4L287%2095c3.5-3.5%205.4-7.8%205.4-12.8%200-5-1.9-9.2-5.5-12.8z%22%2F%3E%3C%2Fsvg%3E");
      background-repeat: no-repeat;
      background-position: right 0.7rem top 50%;
      background-size: 0.65rem auto;

    }
  }

  .modal button{
    margin: 0 2%;
  }
  .modal{
    display: none;
    position:fixed;
    left:0;
    width:100%;
    height:100%;
    background-color: rgba(0,0,0,0.9);
  }
  #searchClose:hover{
    color: rgb(73, 73, 164);
  }
}
